# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Supabase local
supabase/.branches/
supabase/.temp/
.vercel
